.section {
	border: 1px solid red;
	margin: 1rem;
	padding: 2rem 2rem;
	text-align: center;
}

ul {
	display: inline-block;
	text-align: center;
	margin: 1rem;
}

section > ul > li > button {
	display: inline-block;
	/* border: 1px solid red; */
	/* padding: 5px; */
	text-align: left;
	width: 300px;

	/* text overflow clamped */
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.child-right {
	display: inline-block;
	vertical-align: middle;
	/* height: 100px; */
}

/* li::before {
	background-image: url(sprinklr.png);
} */

li::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 2em;
	height: 2em;
	background-size: 100%;
	margin-inline-end: 0.5em;
	opacity: 0.8;
}

img {
	display: inline-block;
	width: 300px;
}

/* div {
	text-align: center;
}

div span {
	display: inline-block;
	border: 1px solid blue;
	text-align: left;
	width: 300px;
}
img {
	display: inline-block;
	width: 300px;
} */
