div {
	/* border: 1px solid red; */
	text-align: center;
	/* display: inline-block; */
}

ul {
	display: inline-block;
	/* border: solid blue; */
	/* position: relative; */
	margin: 10px;
	padding: 20px;
	text-align: center;
}

figure {
	display: inline-block;
	vertical-align: top;
}

div > ul > li {
	display: inline-block;
	/* border: 1px solid red; */
	/* padding: 5px; */
	text-align: left;
	width: 300px;

	/* text overflow clamped */
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

img {
	display: inline-block;
	/* width: 500px; */
	width: 550px;
	height: 750px;
	object-fit: cover;
	cursor: pointer;
	margin: 10px;
	vertical-align: middle;
}

/* figcaption {
	width: 550px;
	align-items: center;

} */

.active-item {
	background-color: #007fff;
	color: white;
}

/* li::before {
	background-image: url(sprinklr.png);
} */

li::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 3em;
	height: 3em;
	background-size: 100%;
	margin-inline-end: 0.5em;
	opacity: 0.8;
}

/* div {
	text-align: center;
}

div span {
	display: inline-block;
	border: 1px solid blue;
	text-align: left;
	width: 300px;
}
img {
	display: inline-block;
	width: 300px;
} */
