div {
	text-align: center;
}

ul {
	display: inline-block;
	margin: 10px;
	padding: 20px;
	text-align: center;
}

figure {
	display: inline-block;
	vertical-align: top;
}

div > ul > li {
	display: inline-block;
	text-align: left;
	width: 300px;

	/* text overflow clamped */
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

img {
	display: inline-block;
	width: 550px;
	height: 750px;
	object-fit: cover;
	cursor: pointer;
	margin: 10px;
	vertical-align: middle;
}

.thumbnail-image {
	width: 3em;
	height: 3em;
	vertical-align: middle;
}

.active-item {
	background-color: #007fff;
	color: white;
}

li::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 3em;
	height: 3em;
	background-size: 100%;
	margin-inline-end: 0.5em;
	opacity: 0.8;
}
